project:
  type: website
  output-dir: docs

website:
  page-navigation: true
  title: "UNIV6020 - Fall 2025"
  description: "Reproducible Ag Data Science with R"
  site-url: "https://adriancorrendo.github.io/"
  repo-actions: [edit, issue]
  
  open-graph: true
  twitter-card:
    creator: "@aacorrendo"
    
  page-footer: 
    left: "<span> Developed by Adrian Correndo using [Quarto](https://quarto.org/). License: [CC BY-SA 2.0](https://creativecommons.org/licenses/by-sa/2.0/). </span>"
    background: dark
  
  navbar:
    
    right: 
      - icon: globe
        href: https://adriancorrendo.github.io/
      - icon: github
        href: https://github.com/adriancorrendo/univ6020/
      - icon: twitter
        href: https://twitter.com/aacorrendo
      - icon: linkedin
        href: https://www.linkedin.com/in/adriancorrendo/
      
  sidebar:
    logo: "images/statasaurus_logo.png"
    pinned: true
    align: center
    tools:
      - icon: github
        href: https://github.com/adriancorrendo/
        
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: "Home" 
      - section: "Slides"
        contents:
          - href: day1.qmd
            text: "Day 1"
          - href: day2.qmd
            text: "Day 2"
          - href: day3.qmd
            text: "Day 3"
      - section: "Coding"
        contents:
          - href: coding/code/repmeasuresmodel.qmd
            text: "Coding Session"
         
format:
  html:
    theme: cosmo
    highlight-style: pygments
    css: styles.css
    toc: true
    toc-title: "Content"
    toc-location: right
    code-copy: true
    code-overflow: scroll
    
freeze: auto

editor: visual

